.call-page {
  display: flex;
}
.call-page-nav {
  margin-bottom: 2%;
}
.call-page-main {
  margin-top: 2%;
  height: 80vh !important;
  margin-top: 8%;
  width: 100%;
  background-color: #ffff;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.call-page-box {
  width: 60%;
}
.call-page-box-title {
  padding: 5%;
  color: #348feb;
}
.call-page-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}