.form-box {
  border: 0.2px solid #a6d7f5;
  background-color: #ffff;
  border-radius: 8%;
  width: 30%;
}
.form-fields {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 5%;
}
.form-actions {
  margin: 5%;
  justify-self: flex-end;
}
